.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  border: 0;
  cursor: pointer;
  margin-right: 1em;
}

.hero-btn {
  background: linear-gradient(to left, #07393c, #0d5d56);
  color: #48bf84;
  font-size: 1.1rem;
  transform: scale(1);
  transition: transform 250ms;
}

.hero-btn:hover,
.hero-btn:focus {
  transform: scale(1.1);
  color: #fff;
  box-shadow: none;
}
.hero-btn:active {
  transform: scale(0.9);
}

.action button:last-child {
  margin-right: 0;
}
