img {
  max-width: 100%;
}

/* ==================
    Typography
===================== */
h1,
h2,
strong {
  font-weight: 700;
}

.page-title,
.subtitle {
  text-align: center;
  color: #000;
  grid-column: 2/-2;
}

.page-title {
  font-size: 3rem;
  margin-bottom: 0.5em;
  justify-self: center;
}
.page-title::after {
  content: '';
  display: block;
  height: 30px;
  width: 100%;
  background: #aee5d8;
  margin-top: -40px;
  margin-left: 15px;
}
.subtitle {
  margin: 0.5em 0 3em;
  font-size: 1.125rem;
}
.subtitle::after {
  content: '';
  display: block;
  height: 1px;
  width: 100px;
  background-color: #000;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.accent-color {
  color: #aee5d8;
}

.section-title {
  font-size: 1.125rem;
  color: #000;
  margin-top: 1.25em;
}

.section-title::after {
  content: '';
  display: block;
  margin-top: 10px;
  width: 60px;
  height: 3px;
  background: #aee5d8;
}

.section-title-center::after {
  margin-left: auto;
  margin-right: auto;
}
.section-title:first-child {
  margin-top: 0;
}

/* ==============
general layout
================ */
.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
  grid-column-gap: 2em;
  margin-top: 2em;
}

@media (min-width: 600px) {
  .main-grid {
    grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 320px)) minmax(
        1em,
        1fr
      );
  }
}

/* ==============
template-page
================ */

.main-template {
  padding: 4em 0;
}
.main-template > * {
  grid-column: 2/-2;
}
.main-image {
  margin-bottom: 1.5em;
  box-shadow: 5px 5px 0 black, 10px 10px 0 #aee5d8;
  background-image: url('../../static/images/dummy.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1a290e;
  background-attachment: fixed;
}

@media (min-width: 600px) {
  .main-image {
    grid-column: 2;
  }
  .main-text {
    grid-column: 3 / span 2;
    grid-row: span 2;
  }
  .secondary-text {
    order: 2;
  }
}

.carousel-icon {
  color: #aee5d8;
  cursor: pointer;
}
